nav{
    z-index: 1;
}

.dashboard{
    position: fixed;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    top: 0;
}

.contentError{
    z-index: -1;
}
main{
    width: 55% !important;
}




/*Animation error*/

@keyframes blink {
   from,to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 2s infinite;
}